/web/bundles/
/web/css/compiled/
/web/js/compiled/
.idea/
/nbproject/
!/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

