{# src/Jc/JolieCarBundle/resources/views/headerSearch.html.twig#}
{{form_start(formHeader,{'attr': {'class': 'form-inline'}})}}
    <div>
        {{form_row(formHeader.rechercher)}}
    </div>
    <div>
        {{form_row(formHeader.btnRechercher)}}
    </div>         
{{form_end(formHeader)}}