{# src/Jc/Joliecar/resources/views/tabAccesRapide.html.twig #}

<ul id="tabAccesRapide" class="elastislide-list">
    {%for car in topCars %}    
       <li>{##}{{ include('JcJolieCarBundle:JolieCar:apercuCar.html.twig', {'car': car}, with_context=false) }}</li>                                                        
    {%else%}
        <h3>Aucune nouvelle voiture</h3>                                
     {%endfor%}
        
</ul>
