{# src/Jc/Joliecar/resources/views/tabAccesRapide.html.twig #}

<ul id="tabAccesRapide" class="elastislide-list">
    {%for car in topCars %}    
       <li>{##}{{ include('JcJolieCarBundle:JolieCar:apercuCar.html.twig', {'car': car}, with_context=false) }}</li>                                                        
    {%else%}
        <h3>Aucune nouvelle voiture</h3>                                
     {%endfor%}
        
</ul>
{#<div class="row" id='tabAccesRapide'>
    <ul class='nav nav-tabs' role='tablist'>
        <li class='active'><a href="#voiturePhare" data-toggle='tab'>VOITURES PHARES</a></li>
        <li><a href="#newVoiture" data-toggle='tab'>NOUVELLES VOITURES</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="voiturePhare">
            <div class="carousel slide" data-ride="carousel" id="carouselTopCar">
                
                <div class="carousel-inner">
                    {%set nbreForTab=4%}
                      {% for tabCar in topCars|batch(nbreForTab) %}                        
                    <div class="item {% if loop.first%} active {% endif %}">                            
                            <ul class="list-inline">
                                {%for car in tabCar %}    
                                    <li>{{ include('JcJolieCarBundle:JolieCar:apercuCar.html.twig', {'car': car}, with_context=false) }}</li>                                                        
                                    
                                {%endfor%}
                            </ul>                            
                     </div>
                    {%else%}
                        <h3>Aucune nouvelle voiture n'est classée dans les <strong>TOP</strong></h3>
                    {% endfor %}        
                </div>
                <a href="#carouselTopCar" class="left carousel-control" data-slide="prev" role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carouselTopCar" class="right carousel-control" data-slide="next" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="tab-pane" id='newVoiture'>
            <div class="carousel slide" data-ride="carousel" id="carouselNewCar">
                
                <div class="carousel-inner">
                    {%set nbreForTab=4%}
                      {% for tabCar in newCars|batch(nbreForTab) %}                        
                    <div class="item {% if loop.first%} active {% endif %}">                            
                            <ul class="list-inline">
                                {%for car in tabCar %}    
                                    <li>{{ include('JcJolieCarBundle:JolieCar:apercuCar.html.twig', {'car': car}, with_context=false) }}</li>                                                        
                                    
                                {%endfor%}
                            </ul>                            
                     </div>
                    {%else%}
                        <h3>Aucune nouvelle voiture</h3>
                    {% endfor %}        
                </div>
                <a href="#carouselNewCar" class="left carousel-control" data-slide="prev" role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carouselNewCar" class="right carousel-control" data-slide="next" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>            
        </div>
    </div>
    
</div>
#}