/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2014, 14:11:31
    Author     : Toure
*/
form .row
{
    margin: 5px;
}
#ajoutMarque,#ajoutModele
{
    cursor: pointer;
}

[id*=uploadMiniature]{
    margin: 5px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
}
[id*=removeImage]{
    cursor: pointer;
    position: absolute;
}

[id*=removeImage]:hover{
    background-color: red;
    z-index: 1;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
}
.fileinput-button input[type=file] {
    position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     opacity: 0;
     -ms-filter: 'alpha(opacity=0)';
     font-size: 200px;
     direction: ltr;
     cursor: pointer;
}