/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 oct. 2014, 17:11:23
    Author     : delphinsagno
*/
*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#message{
    text-align: center;
    margin-top: 5px;
}
img
{
    max-width: 100%;
    height: auto;
}

.infobulle
{
    z-index: 10;
    position: absolute;
    background:#fff;
    padding: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    margin-left: 10px;

}

.clear
{
    clear: both;
}
.white
{
    color:#fff;
}
[class*="glyphicon"]
{
    cursor: pointer;
}
a
{
    color: white;
}
a:hover
{
    background-color: #00bbec;
}
.ligneForm
{
    margin: 0px;
    padding: 3px;
}
.container
{
    position: relative;
}
#showSearch
{
    position: absolute;
    left: 2px;
    top: 2px;
}
.contour
{
    /*margin: 10px;*/
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
}
.conteneurBtnUpload
{
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    height: auto;
}
.btnUpload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 100px;
    direction: ltr;
    width: 100%;
    cursor: pointer;
}

.overbtnUpload{
    cursor: pointer;
}
#loaderListe>img{
    margin-left: 50%;
    margin-top: 20px;
}
.message{
    margin: 0 auto;
    text-align: center;
    font-size: large;
}