/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 sept. 2014, 13:20:24
    Author     : Toure
*/
#imagesCar,#infoGenerales,#leVendeur
{
    margin-top: 10px;
}

.miniature
{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
}



