/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 sept. 2014, 13:20:24
    Author     : Toure
*/
#imagesCar,#infoGenerales,#leVendeur
{
    margin-top: 10px;
}
.elastislide-horizontal{
    padding: 0;
}
.miniature
{
    cursor: pointer;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.ui-accordion .ui-accordion-header{
    padding: 0;
    padding-left: 2.5em;
}


@media screen and (min-width: 700px){
    #detail>div{
        float: left;
    }
    #imagesCar{
        max-width: 350px;
    }
    #accordion{
        max-width: 330px;
    }
    #accordion * {
        font-size: small;
    }
}

@media screen and (min-width: 1000px){
    #detail>div{
        float: left;
    }
    #imagesCar{
        max-width: 500px;
    }
    #accordion{
        max-width: 400px;
    }
    #accordion * {
        font-size: medium;
    }
}


