/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 oct. 2014, 00:56:11
    Author     : Toure
*/

header
{
    background-color:#00bbec;
    width: 100%;
    height: auto;
    position: relative;
}
#logo{
    max-width: 440px;
}
#notLogo
{
    position: relative;
    margin-left: 15px;
}
#headerSearch
{
    width: 80%;
}

#headerSearch
{
    margin: 0;
    padding: 2px;
    position: relative;
}
#headerSearch>form
{
    width: 90%;
}
#menu
{
    position: absolute;
    top:10px;
    right: 0px;
}
#headerSearch>form>div{
    float: left;
}
#headerSearch>form>div:first-child{
     width: 90%;
 }
#headerSearch>form>div:nth-child(2){
    width: 10%;
}
#jc_joliecarbundle_headerSearch_rechercher
{
    width: 100%;
    height: 30px;
}
#jc_joliecarbundle_headerSearch_btnRechercher
{
    width: 100%;
    height: 30px;
}
#profil
{
    max-width: 400px;
    position: relative;
}
#profil .btn
{
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);

    margin-left: 20px;
}

.hideProfil
{
    display: none;
}


@media screen and (min-width: 500px) {
     header>div
      {
          float: left;
      }

     #menu
      {
          display: none;
      }

      .hideProfil{
          display: block ;
      }
}


@media screen and (min-width: 970px) {

    #notLogo
    {
        padding-top: 15px;
        width: 500px;
        position: absolute;
        right: 30px;
    }
    #headerSearch
    {
        width: 50%;
        float: left;
    }
    #profil
    {
        width: 50%;
        float: left;
    }

}

