/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 sept. 2014, 19:40:43
    Author     : Toure
*/

#tabAccesRapide > ul:first-child
{
    background-color: #00bbec;
}
#tabAccesRapide
{  
    margin-top: 5px;
}
/*********SEARCH***************/


/*#search>form [id*='carburant'],#search>form [id*='boitier'],#search>form [id*='prixMin']
{
    display: none;
}*/


/********* IMAGE***************/

.apercuCar
{
    width: 40%;
    height: 200px;
    float: left;
    margin: 5px;
}
.apercuCarInfo
{
    padding: 0px;
    color: black;

}
.apercuCarInfo > div
{
    overflow: hidden;
    font-size: small;
}

.hideSearch
{
    display: none;
}


@media screen and (min-width: 500px){

    .apercuCar{
        width: 30%;
    }
    #search>form>.ligneForm{
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 800px){

    .apercuCar{
        width: 20%;
    }

}

