/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 sept. 2014, 19:40:43
    Author     : Toure
*/

#tabAccesRapide > ul:first-child
{
    background-color: #00bbec;
}
#tabAccesRapide
{  
    margin-top: 5px;
}

a
{
    color: white;
}
a:hover
{
    background-color: #00bbec;
}

.apercuCar
{
    width: 190px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
/*.apercuCar:first-child
{
    margin-left: 10px;
}*/
.apercuCarInfo
{
    padding: 0px;
    color: black;
}
#contenu
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(2,2,2,0.18);
    box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
    -webkit-box-shadow: 0 1px 1px 1px rgba(1,1,1,0.17);
}



.form-control
{
    height: 28px;
}
.zone
{
    margin-bottom: 5px;
}


#zoneLibre
{
    margin-top: 5px;
    margin-left: 35px;
}